{% extends 'base.html.twig' %}

{% block body %}
    <h3> Bonjour  {{ pseudo }} Vous avez bien été enregistré </h3>
    <p> Vous recevrez un email en exclusivité lors de la sortie du sport wear yoga</p>
{% endblock %}